@import "common.scss";

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  position: relative;
  z-index: 3;
  // padding: $page-wide;
  height: 100vh;
  overflow: hidden;

  h1 {
    margin: 0;
    color: $white;
    font-size: 60px;
  }

  h2 {
    margin: 0;
    font-size: 50px;
  }
}
