@import "common.scss";

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  position: relative;
  z-index: 3;
  // padding: $page-wide;
  height: 100vh;
  overflow: hidden;

  h1,
  h2 {
    margin: 0;
    margin-bottom: 5px;
  }
}
