@import "common.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  --color-text: #dc6e25;
  --color-link: #000;
  --color-link-hover: #dc6e25;
  --aspect-ratio: 1/1.5;
  --imgwidthmax: 450px;
  --size-title: 7rem;
  --font-weight-title: 400;
  color: $light-grey;
  background-color: $dark-navy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

.page {
  display: grid;
  // padding: 8vw;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: 100%;
  grid-template-areas: "grid";
}

.page__title {
  grid-area: header;
  margin: 0 0 1rem;
  font-size: inherit;
  font-weight: 400;
}

.credits {
  text-align: center;
}

.credits--fixed {
  position: fixed;
  bottom: 5vw;
  margin: 0;
  left: 5vw;
  width: 90vw;
  text-align: right;
}

.content {
  grid-area: grid;

  .sections {
    display: flex;
    flex-wrap: wrap;
    padding: 8vw;
    justify-content: space-evenly;

    & > * {
      margin: 2vw;
    }
  }
}
