@import "common.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  --color-text: $light-grey;
  --color-link: $white;
  --color-link-hover: $neon-blue;
  --aspect-ratio: 1/1.5;
  --imgwidthmax: 450px;
  --size-title: 7rem;
  --font-weight-title: 400;
  color: $light-grey;
  background-color: $dark-navy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  &.blur {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  outline: none;
  color: var(--color-link);

  &:hover,
  &:focus {
    outline: none;
    color: var(--color-link-hover);
  }
}

.page {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: 100%;
  grid-template-areas: "grid";
}
