.container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10vh 0 25vh;
  --marquee-width: 100vw;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  //   opacity: 0;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  pointer-events: none;
  mix-blend-mode: color-burn;

  span {
    text-align: center;
    white-space: nowrap;
    font-size: 15vw;
    padding: 0 1vw;
    font-weight: 900;
    line-height: 1.15;
  }
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(10vw, 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: running;
  //   opacity: 0;
  //   transition: opacity 0.1s;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
