.logo {
  width: 80px;
  margin-left: -10px;

  svg {
    stroke-width: 2;
    fill-rule: evenodd;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: rgba(16, 25, 40, 0);
  }

  &:hover {
    cursor: pointer;
    svg {
      animation: svg-fill 200ms ease-in-out 850ms both;
      .j-start-a,
      .j-follow-a,
      .j-start-c,
      .j-follow-c {
        stroke-dashoffset: 311.14;
        stroke-dasharray: 311.14;
        animation: j-a cubic-bezier(0, 0.47, 0.1, 0.99) forwards;
      }
      .j-start-a {
        animation-duration: 400ms;
        animation-delay: 150ms;
      }
      .j-follow-a {
        animation-duration: 400ms;
        animation-delay: 100ms;
      }
      .j-start-c {
        animation-duration: 400ms;
        animation-delay: 750ms;
      }
      .j-follow-c {
        animation-duration: 200ms;
        animation-delay: 700ms;
      }
      .j-start-b1,
      .j-follow-b1 {
        stroke-dashoffset: 322.43;
        stroke-dasharray: 322.43;
        animation: j-b1 cubic-bezier(0, 0.47, 0.1, 0.99) forwards;
      }
      .j-start-b2,
      .j-follow-b2 {
        stroke-dashoffset: 150.98;
        stroke-dasharray: 150.98;
        animation: j-b2 cubic-bezier(0, 0.47, 0.1, 0.99) forwards;
      }
      .j-start-b3,
      .j-follow-b3 {
        stroke-dashoffset: 164.57;
        stroke-dasharray: 164.57;
        animation: j-b3 cubic-bezier(0, 0.47, 0.1, 0.99) forwards;
      }
      [class^="j-start-b"] {
        animation-duration: 500ms;
        animation-delay: 450ms;
      }
      [class^="j-follow-b"] {
        animation-duration: 500ms;
        animation-delay: 500ms;
      }
    }
  }
}

// J Keyframes
@keyframes j-b3 {
  0% {
    opacity: 0;
    stroke-dashoffset: 164.57;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes j-b2 {
  0% {
    opacity: 0;
    stroke-dashoffset: 150.98;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes j-b1 {
  0% {
    opacity: 0;
    stroke-dashoffset: 322.43;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes j-a {
  0% {
    opacity: 0;
    stroke-dashoffset: -311.14;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}
