.link {
  right: 10px;
  left: unset;
  color: #fff;
}

footer {
  // position: absolute;
  // bottom: 0;
  z-index: 10;
  width: 100vw;
  display: flex;
  justify-content: center;

  & > * {
    margin: 20px;
  }
}
