*,
*::after,
*::before {
  box-sizing: border-box;
}

#root,
.App,
.landing {
  width: 100vw;
  height: 100%;
  font-family: "Jost", sans-serif;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h4,
h5 {
  margin: 0;
}

button {
  margin: 0; /* 2 */
  border-width: 0;
  border-radius: 0;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

canvas {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  pointer-events: none;
  height: 100%;
}
